body{
	background-color: red;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

*{
	box-sizing: border-box;
}

.container{
	width:520px;
	height: auto;
	margin: 100px auto;
	background-color: white;
	border-radius: 5px;
    text-align: center;
}

.base1{
	width: 100%;
	margin: 0;
	overflow: hidden;
	display: block;
	float: none;
    background-color: blue;
}

.base2{
	width: 100%;
	margin: 0;
	overflow: hidden;
	display: block;
	float: none;
    background-color: white;
}

.title {
    text-align: center;
    font-family: sans-serif;
}